img {
	display: block;
    width: 100%; /* ie8 / as opposed to auto which sin't dynamic in size*/

}
span{
	background-color: #fff;
}
ul{
	list-style:none;
}

div{
	background-color: #00cc66;
	width: 60%;
	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}
.centers{
	text-align: center;
}
body{
	background: url("background.jpg") no-repeat fixed;
	background-size: 100% 100%;
	font-size: 25px;
}
div.coded {
	background-color: #aaaaaa;
	width: auto;
	margin-left: 10px;
	margin-right: 10px;
}
.small{
	height: 300px;
}
.mediumImages{
	width: 300px;
}